body{
	background-color: #b7b7b7;
}

.resume{
	width: 800px;
	background-color: #f1f1f1;
	margin: auto;
}

thead, strong, i, .work{
	color: #3F7E9C;
}

a{
	text-decoration: none;
}

a.visited{
	text-decoration: none;
}

.title{
	background-color: #3F7E9C;
	width: 60px;
	height: 35px;
	color: white;
	font-size: 14px;
	margin-left: 15px;
}

.title p{
	text-align: center;

}

.list{
	align: right;
}

table {
	width: 100%;
}

.first-table{
	margin-top: 30px;
}

.name p {
	top: 0;
	margin: 0;
	margin-left: 15px;
	margin-top: 0px;
	font-size: 25px;
}

ul {
	list-style: none;
}

.name strong{
	font-size: 70px;
}

.name{
	line-height: 35px;
}

.second-table{
	margin-left: 15px;
	width: 300px;
	margin-top: 60px;
	height: 600px;
}

.work h1{
	font-size: 15px;
	margin: 0;

}

.years-work td {
	vertical-align: top;
	font-size: 16px;
	color: red;
	height: 600;
}

.work p{
	font-size: 13px;
	color: #4C4C4C;
	line-height: 13px;
}

.years-work td:first-child {
	font-size: 5px;
}

.work{
	line-height: 15px;
}


progress {
	width: 150px;
	background-color: #3F7E9C;
}

.inlineTable {
            display: inline-block;

}

.third-table {
	margin-left: 15px;
	width: 300px;
	vertical-align: top;
	margin-top: 40px;
	height: 400px;
}

.fourth-table{
	margin-left: 15px;
	margin-top: 20px;
	height: auto;
}

.third-table td{
	font-size: 15px;
}

.third-table tr th{
	padding-bottom: 10px;
}

.SEO{
	padding: 25px;
}

.titles-second{
	text-align: center;
	font-weight: bold;
	color: #3F7E9C;
	font-size: 18px;
}

.play{
	vertical-align: top;
	margin-left: 70px;
	width: 200px;
}

.personal{
	text-align: center;
	color: #3F7E9C;
	font-weight: bold;
	padding-bottom: 20px;
}

.workplay{
	text-align: center;
	color: #3F7E9C;
	font-weight: bold;
	padding-bottom: 20px;
}

.fifth-table{
	margin-top: 20px;

}

.wp-title{
	color: #3F7E9C;
}

.space{
	margin: 100px;
	padding: 100px;
	height: 100px;
}

.wp{
	background-color: #3F7E9C;
	width: 50px;
	height: 50px;
	margin:0;
	padding: 0;
	transform: rotate(-65deg);
}

.image{
	padding-left: 20px;
	padding-right: 40px;
}

.year {
	margin-top: -40px;
	font-size: 14px;
}





